.pokemon {
    border: 1px solid black;
    border-radius: 20px;
    background-color: red;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding-top: 20px;
    text-align: center;
    margin: 10px 10px 10px 0;
}

.pokemon img {
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 200px;
}